body {
    background: #343a40;
}

.container {
    background-color: #343a40;
}

footer {
    background: #343a40;
    width: 1140px;
    margin: auto;
    text-align: center;
    color: lightyellow;
    font-size: 1.2em;
    height: 60px;
    line-height: 60px;
}

.my-4 {
    color: white;
}